.header-content {
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: var(--shadow-md);
  height: 4rem;
  padding: 1rem;

  div {
    display: flex;
    justify-content: end;
    margin-right: 1.5rem;
  }

  i {
    cursor: pointer;
  }
}

.nav-link {
  color: var(--text-color);
  margin: 0 0.5rem;
  transition: color 0.2s;

  &:hover {
    color: var(--primary-color);
  }
}