<header class="header-content">
  <div class="">
    <a class="nav-link" routerLink="#config"><i class="fas fa-cog icon mx-2"></i></a>
    <a class="nav-link" routerLink=""><i class="fas fa-user icon mx-2"></i></a>
    <a class="nav-link" (click)="toggleTheme()"> @if(theme === 'light') { <i class="fas fa-moon mx-2"></i>}
      @else{ <i class="fas fa-sun mx-2"></i>}</a>
    <a class="nav-link"><i class="fa-solid fa-right-from-bracket" title="Sair" alt="logout" (click)="logout()"></i></a>

  </div>
</header>