.input-container {
  input {
    padding-right: 2.5rem;
  }

  .toggle-password {
    position: absolute;
    right: 0.5rem;
    top: 58%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--text-muted);

    i {
      font-size: 1.5rem;
    }
  }

}
