<div class="layout-content">
  <aside class="sidebar" [class.collapsed]="isCollapsed" (mouseenter)="hoverSidebar(true)"
    (mouseleave)="hoverSidebar(false)">
    <div class="sandwich-menu" (click)="toggleSidebar()">
      <i class="fas fa-bars"></i>
      <span class="ms-2">ERP Pindorama</span>
    </div>
    <app-sidebar [menu]="menu" [isCollapsed]="isCollapsed" [isHovered]="isHovered"
      [childrenIdList]="childrenIdList"></app-sidebar>
  </aside>
  <div class="main-content">
    <app-header></app-header>
    <main>
      <router-outlet />
    </main>
  </div>
</div>
