.header-content {
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: var(--shadow-md);
  height: 4rem;
  padding: var(--space-4);

  div {
    display: flex;
    align-items: center;
    justify-content: end;
    overflow-x: auto;
  }

  i {
    cursor: pointer;
  }
}

.nav-link {
  color: var(--text-color);
  margin: 0 var(--space-2);
  transition: color var(--transition-fast);

  &:hover {
    color: var(--primary-color);
  }
}

@media (min-width: 48rem) {
  .header-content div {
    margin-right: var(--space-6);
  }
}
