<main class="form-container">
  <div class="form-box">
    <h2 class="text-center mb-4 txt-primary">Login</h2>

    <form [formGroup]="formGroup" (ngSubmit)="submitForm($event)" autocomplete="off">
      <div class="mb-3">
        <app-input-text formControlName="email" [formGroup]="formGroup" label="E-mail"
          placeholder="Digite seu e-mail"></app-input-text>
      </div>

      <div class="mb-3">
        <app-input-password formControlName="password" [formGroup]="formGroup" label="Senha"
          placeholder="Digite sua senha"></app-input-password>
      </div>

      <button type="submit" class="btn btn-primary w-100" [disabled]="formGroup.invalid">
        Entrar
      </button>

      <div class="text-center mt-3">
        <a href="#">Esqueceu a senha?</a>
      </div>
      <div class="text-center mt-3">
        <a routerLink="/register">Não tem uma conta? Faça seu cadastro</a>
      </div>
    </form>
  </div>
</main>