<div class="input-container" [class.focused]="verifyActiveInput(formGroup.get(formControlName))"
  [formGroup]="formGroup">

  <input [type]="isPasswordVisible ? 'text' : 'password'" [formControlName]="formControlName" (focus)="onFocus()"
    (blur)="onBlur()" (input)="onInputChange($event)" [placeholder]="placeholder" [id]="formControlName" />
  <label [class.active]="verifyActiveInput(formGroup.get(formControlName))" [for]="formControlName">{{ label }}</label>
  <span class="toggle-password" (click)="togglePasswordVisibility()">
    @if ( isPasswordVisible ) {<i class="fa fa-eye-slash"></i> }
    @else {<i class="fa fa-eye"></i>}
  </span>
</div>

<div class="error-message">
  @if(formGroup.get(formControlName)?.invalid && (formGroup.get(formControlName)?.dirty ||
  formGroup.get(formControlName)?.touched)){
  <small [title]="getFormError(formGroup.controls[formControlName])">
    {{ getFormError(formGroup.controls[formControlName]) }}
  </small>
  }
</div>