.tabs-container {
  .tabs-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid var(--primary-color);


    .tab-item {
      color: var(--primary-color);
      flex: 0 0 auto;
      padding: var(--space-3) var(--space-4);
      margin-right: var(--space-2);
      cursor: pointer;
      font-weight: 600;
      border-bottom: 2px solid transparent;
      margin-bottom: -2px;
      transition: all var(--transition-fast);
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      border: 1px solid var(--primary-color);

      &.active {
        color: var(--text-color);
        border-bottom-color: var(--secondary-dark-color);
        background-color: var(--secondary-dark-color);
        border: 1px solid var(--secondary-dark-color);
      }

      &:hover:not(.active) {
        background-color: var(--primary-color);
        color: var(--text-color);
      }
    }
  }

  .tabs-content {
    padding: var(--space-4);
    border: 1px solid var(--primary-color);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    border-top: none;

    .tab-pane {
      animation: fadeIn 0.3s forwards;
    }
  }
}

@media (min-width: 48rem) {
  .tabs-container {
    .tabs-nav .tab-item {
      padding-inline: var(--space-6);
    }

    .tabs-content {
      padding: var(--space-6);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
