<main class="form-container">
  <div class="form-box">
    <h2 class="text-center mb-4 txt-primary">Login</h2>

    <form [formGroup]="formGroup" (ngSubmit)="submitForm()" autocomplete="off">
      <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" id="email" class="form-control" formControlName="email" placeholder="Digite seu e-mail" />
        @if (formGroup.get('email')?.invalid && formGroup.get('email')?.touched) {
        <small class="text-danger">Digite um e-mail válido</small>
        }
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Senha</label>
        <input type="password" id="password" class="form-control" formControlName="password"
          placeholder="Digite sua senha" />
        @if (formGroup.get('password')?.invalid && formGroup.get('password')?.touched) {
        <small class="text-danger">Senha obrigatória</small>
        }
      </div>

      <button type="submit" class="btn btn-primary w-100" [disabled]="formGroup.invalid">
        Entrar
      </button>

      <div class="text-center mt-3">
        <a href="#">Esqueceu a senha?</a>
      </div>
      <div class="text-center mt-3">
        <a routerLink="/register">Não tem uma conta? Faça seu cadastro</a>
      </div>
    </form>
  </div>
</main>