<main class="mt-5 pt-5">
  <section id="facilidade" class="section text-center">
    <div class="container">
      <h2 class="txt-primary">Facilidade de Usar</h2>
      <p>Interface intuitiva que simplifica a gestão do seu negócio.</p>
    </div>
  </section>

  <section id="recursos" class="section text-center bk-tertiary">
    <div class="container">
      <h2 class="txt-secondary-dark">Recursos Avançados</h2>
      <p>Controle financeiro, estoque, relatórios inteligentes e muito mais.</p>
    </div>
  </section>

  <section id="missao" class="section text-center">
    <div class="container">
      <h2 class="txt-accent">Nossa Missão</h2>
      <p>Democratizar a Gestão Empresarial, levando tecnologia acessível a todos.</p>
    </div>
  </section>
</main>