<div class="form-select-field">
  <label [for]="formControlName">{{ label }}</label>
  <select
    [id]="formControlName"
    [ngModel]="value"
    (ngModelChange)="selectValue($event)"
    [ngModelOptions]="{ standalone: true }"
    [class.invalid]="hasError"
    [disabled]="isDisabled"
  >
    @if (showPlaceholder) {
      <option [ngValue]="null">{{ placeholder }}</option>
    }

    @for (option of options; track $index) {
      @if (!isOptionHidden(option)) {
        <option [ngValue]="getOptionValue(option)" [disabled]="isOptionDisabled(option)">
          {{ getOptionLabel(option) }}
        </option>
      }
    }
  </select>
  <app-form-error [control]="control" />
</div>
